/* ************** COMMON ************** */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.request-call-btn {
  margin-right: 50px;
  width: 200px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  padding: 0 22px;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;

  background: #0bd3d1;
  color: white;
}

.request-call-btn--yellow {
  background: #eedc86;
  color: #010101;
}

.request-call-btn--big {
  width: 300px;
}

.section-title {
  font-weight: bold;
  font-size: 48px;
  color: #201600;
  text-align: center;
  padding: 80px 0;
  display: block;
  margin: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
  padding: 25px 0;
}
.banner__bigtext {
  font-family: "Muller";
  font-weight: 900;
  font-size: 66px;
  line-height: 78px;
  text-transform: uppercase;
  margin: 0;
}
.banner__description {
  font-weight: lighter;
  line-height: 24px;
  font-size: 39px;
  margin: 0;
}

.request-call button {
  display: block;
  margin: auto;
  margin-top: 30px;
}
.request-call {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  flex-wrap: wrap;
  font-size: 28px;
  font-weight: normal;
}
.request-call__input {
  font-size: 24px;
  padding: 12px;
  width: 300px;
  outline: none;
  border: none;
  transition: .3s;
}
.request-call__input--border {
  border: solid 3px rgb(212, 212, 212);
}
.request-call__input--border-red {
  border: solid 3px #ff6044;
}
.request-call__label {
  display: block;
  margin-bottom: 12px;
}

/* ************** MFP-FIX ************** */

.mfp-zoom-out-cur {
  cursor: default;
}
.mfp-arrow-left:before,
.mfp-arrow-right:before {
  display: none;
}
.mfp-arrow-left:after,
.mfp-arrow-right:after {
  border: none;
  font-family: 'icons';
  content: '\0042';
  color: white;
  top: -15px;
  margin-left: 100%;
  font-size: 64px;
  transform: rotate(90deg);
}
.mfp-arrow-right:after {
  margin-left: 0;
  top: 50px;
  transform: rotate(-90deg);
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75px;
  right: 20px;
}
.mfp-close:before,
.mfp-close:after {
  position: absolute;
  display: block;
  content: "";
  background: black;
  transform: rotate(-45deg);
  width: 75px;
  height: 6px;
  top: 25px;
  right: 0;
}
.mfp-close:after {
  transform: rotate(45deg);
}

/* ************** HEADER ************** */

.header {
  background: white;
}
.header__icon {
  opacity: .25;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ************** VCARD ************** */

.vcard {
  margin: 0 70px;
  height: 110px;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.vcard .fn.org {
  font-family: "Muller";
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
}
.vcard__item--block {
  display: block;
}
.vcard__item {
  position: relative;
  color: black;
  text-decoration: none;
}

/* ************** MAIN-BANNER ************** */

.banner--main {
  background-image: url("../img/header-background.png");
}

.banner--main__container {
  padding: 180px 0 180px 70px;
}

/* ************** SOLUTIONS ************** */

.our-solutions__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px 100px 120px;
}

.our-solutions__solution {
  margin-bottom: 15px;
  width: 30%;
}

.our-solutions__solution-image {
  display: block;
  width: 100%;
}
.our-solutions__solution-name {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  color: #201600;
  font-weight: bold;
  margin: .8em 0;
}

/* ************** RECOMMENDATION ************** */

.recommendation {
  background: #efefef;
}
.recommendation--white-bg {
  background: white;
}
.container--recommendation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 120px 70px 120px;
}
.recommendation__someone-looking {
  margin-bottom: 50px;
}
.recommendation__images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommendation__text {
  font-size: 18px;
  max-width: 510px;
  margin-bottom: 50px;
}

/* ************** ORDER-PROJECT ************** */

.order-project {
  background-image: url("../img/order-project-background.jpg");
  padding: 60px 0 60px 70px;
  margin-bottom: 50px;
  box-shadow: 0 50px 0 #efefef;
}

/* ************** PORTFOLIO ************** */

.portfolio {
  font-size: 28px;
  text-align: center;
  margin-bottom: 100px;
}
.container--portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.portfolio__description {
  margin-bottom: 80px;
}
.section-title--portfolio {
  padding-bottom: 28px;
}
.portfolio__item {
  width: 350px;
  height: 350px;
  cursor: pointer;
  position: relative;
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: .3s;
}
.portfolio__item:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  font-size: 64px;
  color: white;
  opacity: 0;
}
.portfolio__item:hover:before {
  opacity: 1;
}
.portfolio__item--hidden {
  display: none;
}
.portfolio__load-more {
  text-transform: uppercase;
  font-weight: bold;
  color: #201600;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 100px 0;
}
.portfolio__load-more .icon-arrow-down:before {
  vertical-align: middle;
  transform: scale(.75);
}

/* ************** MATERIALS ************** */

.clean-materials {
  background-image: url('../img/clean-materials.jpg');
  padding: 260px 0 260px 70px;
}

/* ************** WE-WILL-TELL ************** */

.we-will-tell {
  background-image: url('../img/we-will-tell.jpg');
  padding: 115px 0 100px 70px;
  margin-top: 50px;
  box-shadow: 0 -50px 0 #efefef;
}

/* ************** WE-ARE-BETTER ************** */

.we-are-better-wr {
  background: #efefef;
}
.we-are-better {
  padding: 0 120px 140px 140px;
}
.section-title--we-are-better {
  margin: 0;
}
.we-are-better__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
.we-are-better__item {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: calc(100%/3);
  padding: 15px 0;
  border-bottom: solid 5px #dcdcdc;
}
.we-are-better__item:nth-child(4),
.we-are-better__item:nth-child(5),
.we-are-better__item:nth-child(6) {
  border: none;
}
.we-are-better__title {
  display: block;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* ************** ZERO-RUBLES ************** */

.zero-rubles-wr {
  background-image: url("../img/zero-rubles.jpg");
  font-family: "Muller";
  box-shadow: 0 -45px 0 white;
}
.zero-rubles {
  padding: 250px 0 180px 0;
  text-align: center;
}
.zero-rubles__features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zero-rubles__feature {
  width: 215px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 66px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}
.zero-rubles__feature:nth-child(odd) {
  width: 170px;
  height: 170px;
  font-size: 36px;
  border-radius: 50%;
  background: white;
}
.zero-rubles__feature-text {
  margin-top: 15px;
  position: absolute;
  white-space: nowrap;
  transform: translateX(-50%);
  left: 50%;
}
.zero-rubles__icon:before {
  line-height: 170px;
  color: black;
  font-size: 86px;
}
.zero-rubles__icon--plus:before {
  content: "+";
  font-family: "Muller";
}
.zero-rubles__cost {
  font-family: "Muller";
  font-size: 66px;
  text-transform: uppercase;
  margin-top: 160px;
}

/* ************** NOT-IMPERSONAL ************** */

.not-impersonal {
  padding-bottom: 80px;
}
.not-impersonal__managers {
  display: flex;
  justify-content: center;
  color: #201600;
  align-items: flex-end;
}
.not-impersonal__manager-name {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 95px;
}
.not-impersonal__manager-type {
  text-align: center;
  font-size: 18px;
  color: #afafaf;
  text-transform: uppercase;
}
.not-impersonal__manager {
  margin-right: 140px;
}
.not-impersonal__manager:last-child {
  margin-right: 0;
}
.not-impersonal__image {
  display: block;
  margin: auto;
  width: 100%;
}

/* ************** HOW-IT-WORKS ************** */

.how-it-works-wr {
  background: #efefef;
}
.how-it-works {
  padding: 0 50px 90px 70px;
}
.how-it-works__steps {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 70px;
  padding-bottom: 0;
}
.how-it-works__step {
  width: 25%;
  height: 50%;
  font-size: 22px;
  color: #201600;
  text-align: center;
  font-weight: bold;
  padding: 0 25px 80px 25px;
}
.how-it-works__step:before {
  display: block;
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

/* ************** HAVE-QUESTIONS ************** */

.have-questions-wr {
  background-image: url("../img/have-questions.jpg");
  box-shadow: 0 -50px 0 white;
}
.have-questions {
  padding: 120px 0 100px 70px;
}

/* ************** FOOTER ************** */

.footer-wr {
  padding-top: 45px;
  background: white;
  height: 170px;
}
.footer {
  display: flex;
}
.footer__middle {
  width: 600px;
}
.footer__website {
  color: #d4d4d4;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 18px;
  font-family: "Muller";
}
.footer__copyright {
  color: #bfbebe;
  max-width: 500px;
}
.footer__instagram:before {
  vertical-align: middle;
  margin-right: 5px;
}
.footer__instagram {
  color: #2e2e2e;
  min-width: 105px;
}

/* ************** USER-DIALOG ************** */

.user-dialog-wr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.user-dialog {
  color: #201600;
  width: 720px;
  background: white;
  padding: 50px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 17px 0px rgba(58, 58, 58, 0.21);
}
.user-dialog__bg {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.user-dialog__title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Muller";
  max-width: 75%;
  margin-bottom: 35px;
}
.user-dialog__message {
  font-size: 28px;
}
.user-dialog__close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 36px;
  cursor: pointer;
}
.user-dialog__submit-btn {
  display: block;
  margin: 40px auto auto auto;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1024px;
  }

  .vcard {
    margin: 0;
  }

  .request-call-btn {
    margin-right: 0;
  }

  .our-solutions__container {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
  }

  .container--recommendation {
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio__item {
    width: 251px;
    height: 251px;
  }

  .recommendation__text {
    max-width: 40%;
  }
  .recommendation__image {
    width: 33%;
  }

  .clean-materials {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .we-are-better {
    padding-left: 0;
    padding-right: 0;
  }

  .how-it-works {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 768px;
  }

  .vcard__item.workhours,
  .vcard__item.adr {
    display: none;
  }

  .banner__description {
    line-height: 36px;
  }
  .banner--main__container {
    padding: 90px 0;
  }
  .banner__bigtext {
    font-size: 42px;
    line-height: 52px;
  }

  .our-solutions__solution {
    width: 32%;
  }

  .recommendation__someone-looking {
    width: 300px;
    float: left;
    margin: 0 30px 30px 0;
  }
  .recommendation__text {
    max-width: none;
    margin-bottom: 25px;
  }

  .container--recommendation {
    display: block;
  }

  .portfolio__item {
    width: 187px;
    height: 187px;
  }
  .portfolio__load-more {
    margin: 40px 0;
  }

  .clean-materials {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .zero-rubles {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .zero-rubles__feature {
    width: 100px;
  }

  .not-impersonal__manager-name {
    line-height: initial;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .how-it-works__steps {
    padding: 50px 0 0 0;
  }
  .how-it-works__step {
    font-size: 18px;
  }
  .how-it-works__step::before {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .have-questions {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .request-call {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 425px;
  }

  .header .request-call-btn {
    display: none;
  }

  .banner {
    padding-left: 0;
    padding-right: 0;
  }
  .banner--main__container {
    padding: 50px 0;
  }
  .banner__bigtext {
    font-size: 32px;
    line-height: initial;
    text-align: center;
  }
  .banner__description {
    font-size: 22px;
    line-height: initial;
    text-align: center;
  }

  .request-call {
    justify-content: space-around;
  }
  .request-call__label {
    margin-top: 12px;
    text-align: center;
  }

  .section-title {
    font-size: 36px;
    padding: 40px 0;
  }

  .our-solutions__solution {
    width: calc(100%/3);
  }
  .our-solutions__solution-name {
    font-size: 18px;
  }

  .recommendation__someone-looking {
    width: 200px;
  }
  .recommendation__text {
    font-size: 16px;
  }

  .portfolio__description {
    margin-bottom: 40px;
  }

  .we-will-tell {
    padding: 50px 0;
  }

  .we-are-better {
    padding-bottom: 70px;
  }
  .we-are-better__title {
    font-size: 18px;
  }
  .we-are-better__item {
    font-size: 14px;
    width: calc(100%/2);
  }
  .we-are-better__item:nth-child(4) {
    border-bottom: solid 5px #dcdcdc;
  }

  .zero-rubles {
    padding: 50px 0;
  }
  .zero-rubles__features {
    flex-direction: column;
  }
  .zero-rubles__feature {
    font-size: 50px;
  }
  .zero-rubles__feature:nth-child(odd) {
    width: 125px;
    height: 125px;
    font-size: 24px;x
  }
  .zero-rubles__icon--plus {
    margin-top: 50px;
  }
  .zero-rubles__icon:before {
    line-height: 125px;
    font-size: 74px;
  }
  .zero-rubles__cost {
    margin-top: 100px;
    font-size: 34px;
  }

  .not-impersonal__manager {
    width: 40%;
    margin-right: 40px;
  }
  .not-impersonal__image {
    height: 350px;
    width: auto;
  }

  .how-it-works__steps {
    padding: 25px 0 0 0;
    justify-content: center;
  }
  .how-it-works__step {
    width: 50%;
    padding-bottom: 40px;
    font-size: 12px;
  }
  .how-it-works__step:before {
    margin-bottom: 15px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .user-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .user-dialog__title {
    padding: 50px 0 0 50px;
  }
  .user-dialog__message {
    padding: 0 50px;
  }
  .request-call-btn {
    margin: 25px auto;
  }

  .request-call {
    width: 425px;
    margin: auto;
  }
}

@media screen and (max-width: 445px) {
  .container {
    width: 320px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-title {
    padding: 30px 0;
  }

  .vcard {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .vcard__item.tel {
    margin: auto;
  }

  .request-call {
    width: 320px;
  }

  .portfolio__item {
    width: 150px;
    height: 150px;
  }
  .portfolio__description {
    font-size: 18px;
  }

  .banner__bigtext {
    font-size: 24px;
  }

  .our-solutions__solution-name {
    font-size: 14px;
  }

  .we-are-better__content {
    padding: 0;
  }
  .we-are-better__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .we-are-better__item {
    width: 100%;
  }
  .we-are-better__item:nth-child(5) {
    border-bottom: solid 5px #dcdcdc;
  }

  .recommendation__someone-looking {
    margin: 0 0 25px 0;
    width: 100%;
  }

  .not-impersonal {
    padding-bottom: 40px;
  }
  .not-impersonal__manager {
    margin-right: 20px;
  }
  .not-impersonal__image {
    height: 300px;
  }
  .not-impersonal__manager-name {
    font-size: 18px;
  }
  .not-impersonal__manager-type {
    font-size: 12px;
  }

  .how-it-works__step {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer {
    flex-wrap: wrap;
  }
  .footer__left,
  .footer__middle,
  .footer__right {
    margin: 10px;
  }
}