/* ************** START COMMON ************** */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.request-call-btn {
  margin-right: 50px;
  width: 200px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  padding: 0 22px;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;

  background: #0bd3d1;
  color: white;
}

.section-title {
  font-weight: bold;
  font-size: 48px;
  color: #201600;
  text-align: center;
  padding: 80px 0;
}

.banner {
  background-size: cover;
  background-position: center;
  color: white;
}
.banner .bigtext {
  font-family: "Muller";
  font-weight: 900;
  font-size: 66px;
  line-height: 78px;
  text-transform: uppercase;
  margin: 0;
}
.banner .request-call-form {
  margin-top: 45px;
  display: inline-block;
  letter-spacing: 20px;

  font-size: 28px;
  font-weight: normal;
}
.banner .request-call-form span {
  display: inline-block;
}
.banner .request-call-form span label {
  display: block;
  margin-bottom: 12px;
  letter-spacing: normal;
}
.banner input {
  font-size: 38px;
  width: 302px;
  outline: none;
}
.banner button {
  display: block;
  margin: auto;
  margin-top: 30px;
}

/* ************** END COMMON ************** */
/* ************** START MFP-FIX ************** */

.mfp-zoom-out-cur {
  cursor: default;
}
.mfp-arrow-left:before,
.mfp-arrow-right:before {
  display: none;
}
.mfp-arrow-left:after,
.mfp-arrow-right:after {
  border: none;
  font-family: 'icons';
  content: '\0042';
  color: white;
  top: -15px;
  margin-left: 100%;
  font-size: 64px;
  transform: rotate(90deg);
}
.mfp-arrow-right:after {
  margin-left: 0;
  top: 50px;
  transform: rotate(-90deg);
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 75px;
  right: 20px;
}
.mfp-close:before,
.mfp-close:after {
  position: absolute;
  display: block;
  content: "";
  background: black;
  transform: rotate(-45deg);
  width: 75px;
  height: 6px;
  top: 25px;
  right: 0;
}
.mfp-close:after {
  transform: rotate(45deg);
}

/* ************** END MFP-FIX ************** */
/* ************** START HEADER ************** */

header {
  background: white;
}

header .vcard {
  margin: 0 70px;
  height: 110px;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

header .vcard .fn.org {
  font-family: "Muller";
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
}

header .vcard .adr .locality {
  display: block;
}

header .vcard * {
  position: relative;
}
header .vcard *:before {
  opacity: .25;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -25px;
}

/* ************** END HEADER ************** */
/* ************** START MAIN-BANNER ************** */

#main-banner {
  background-image: url("../img/header-background.png");
}

#main-banner .container {
  padding: 180px 0 180px 70px;
}

#main-banner h2 {
  font-weight: lighter;
  line-height: 24px;
  font-size: 39px;
  margin: 0;
}

/* ************** END MAIN-BANNER ************** */
/* ************** START SOLUTIONS ************** */

#our-solutions .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px 100px 120px;
}

.solution {
  margin-bottom: 15px;
}

.solution-img {
  display: block;
}
.solution-name {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  color: #201600;
  font-weight: bold;
  margin: .8em 0;
}

/* ************** END SOLUTIONS ************** */
/* ************** START RECOMMENDATION ************** */

.recommendation {
  background: #efefef;
}
.recommendation.white-bg {
  background: white;
}

.recommendation .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 120px 70px 120px;
}

.recommendation .someone-looking {
  margin-bottom: 50px;
}

.recommendation-text {
  font-size: 18px;
  max-width: 510px;
}

/* ************** END RECOMMENDATION ************** */
/* ************** START ORDER-PROJECT ************** */

#order-project {
  background-image: url("../img/order-project-background.jpg");
  padding: 60px 0 60px 70px;
  margin-bottom: 50px;
  box-shadow: 0 50px 0 #efefef;
}
#order-project button {
  background: #eedc86;
  color: #010101;
}

/* ************** END ORDER-PROJECT ************** */
/* ************** START PORTFOLIO ************** */

#portfolio {
  font-size: 28px;
  text-align: center;
}
#portfolio .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#portfolio .section-description {
  margin-bottom: 80px;
}
#portfolio .section-title {
  padding-bottom: 28px;
}
#portfolio .portfolio-item {
  width: 350px;
  height: 350px;
  cursor: pointer;
  position: relative;
}
#portfolio .portfolio-item:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  font-size: 64px;
  color: white;
  opacity: 0;
}
#portfolio .portfolio-item:hover:before {
  opacity: 1;
}
#portfolio .load-more {
  line-height: 200px;
  text-transform: uppercase;
  font-weight: bold;
  color: #201600;
  letter-spacing: 1px;
  cursor: pointer;
}
#portfolio .load-more span:before {
  vertical-align: middle;
  transform: scale(.75);
}

/* ************** END PORTFOLIO ************** */
/* ************** START MATERIALS ************** */

#clean-materials {
  background-image: url('../img/clean-materials.jpg');
  padding: 260px 0 260px 70px;
}

/* ************** END MATERIALS ************** */
/* ************** START WE-WILL-TELL ************** */

#we-will-tell {
  background-image: url('../img/we-will-tell.jpg');
  padding: 115px 0 100px 70px;
  margin-top: 50px;
  box-shadow: 0 -50px 0 #efefef;
}
#we-will-tell .request-call-btn {
  width: 300px;
  background: #eedc86;
  color: #010101;
}