/* ************** START COMMON ************** */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.request-call-btn {
  margin-right: 50px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  padding: 0 22px;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  background: #0bd3d1;
  color: white;
}

.section-title {
  font-weight: bold;
  font-size: 48px;
  color: #201600;
  text-align: center;
  padding: 80px 0;
}

.banner {
  background-size: cover;
  background-position: center;
  color: white;
}
.banner .bigtext {
  font-family: "Muller";
  font-weight: 900;
  font-size: 66px;
  line-height: 78px;
  text-transform: uppercase;
  margin: 0;
}
.banner .request-call-form {
  margin-top: 50px;
  display: inline-block;
  letter-spacing: 20px;

  font-size: 28px;
  font-weight: normal;
}
.banner .request-call-form span {
  display: inline-block;
}
.banner .request-call-form span label {
  display: block;
  margin-bottom: 12px;
  letter-spacing: normal;
}

/* ************** END COMMON ************** */
/* ************** START HEADER ************** */

header {
  background: white;
}

header .vcard {
  margin: 0 70px;
  height: 110px;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

header .vcard .fn.org {
  font-family: "Muller";
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
}

header .vcard .adr .locality {
  display: block;
}

header .vcard * {
  position: relative;
}
header .vcard *:before {
  opacity: .25;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -25px;
}

/* ************** END HEADER ************** */
/* ************** START MAIN-BANNER ************** */

#main-banner {
  background-image: url("../img/header-background.png");
}

#main-banner .container {
  padding: 180px 0 180px 70px;
}

#main-banner h2 {
  font-weight: lighter;
  line-height: 24px;
  font-size: 39px;
  margin: 0;
}

#main-banner input {
  font-size: 38px;
  width: 302px;
  outline: none;
}

#main-banner button {
  padding: 0 20px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

/* ************** END MAIN-BANNER ************** */
/* ************** START SOLUTIONS ************** */

#our-solutions .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px 100px 120px;
}

.solution {
  margin-bottom: 15px;
}

.solution-img {
  display: block;
}
.solution-name {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  color: #201600;
  font-weight: bold;
  margin: .8em 0;
}

/* ************** END SOLUTIONS ************** */
/* ************** START RECOMMENDATION ************** */

#recommendation {
  background: #efefef;
}

#recommendation .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 120px 70px 120px;
}

#recommendation .girl-looking {
  margin-bottom: 50px;
}

.recommendation-text {
  font-size: 18px;
  max-width: 510px;
}